@model IList<Services.ViewModels.DevTestModel>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ID)</th>
        
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AffiliateName)</th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Impressions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CompaignName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Clicks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Conversions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AffiliateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impressions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompaignName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clicks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conversions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>